body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* simplificado */
  gap: 2px;
}

.tile {
  border: 1px solid #333;
  padding: 0.5rem;
  font-size: 0.8rem;
}
